@using Sitecore.Mvc

<div id="Main">
  <div id="InnerMain">
    <div id="Header">
      <div id="InnerHeader">
        <h1>Welcome to Sitecore<sup>®</sup></h1>
      </div>  
    </div>
    <div id="Content">
      @Html.Sitecore().Placeholder("content")
    </div>
  </div>
</div>
<div id="Side">
  <div id="InnerSide">
    <div id="Image"></div>
    <div id="Logo"></div>
  </div>
</div>