<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <settings>
      <setting name="SerializationFolder" set:value="D:\Sitecore\Demos\SUGCH2014\serialization" />
    </settings>

    <sites>
      <site name="website" set:database="master" />
    </sites>
    
  </sitecore>
</configuration>